*{
    margin:0;
    padding: 0;
}
.heading{
    margin:auto;
    text-align: center;
}

.heading h2{
    font-size: 2rem;
    font-weight:bolder ;
}

.heading h2 span{
    position: relative;
    z-index: 5;
}

.heading h2 span::after{
    content: "";
    position: absolute;
    background:#d1ecff;
    right: 0;
    left: 0;
    top:30px;
    height: 10px;
    z-index: -5;
}


.nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;

}
.nav-item {
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

.nav-tabs .nav-link.active{
    color: #24a0ed !important;
    border: transparent !important;
}

.nav-tabs .nav-link{
    color: black !important;
    border: transparent !important;
}
@media screen and (max-width: 994px) {
    .nav{
        grid-template-columns: auto auto auto auto !important;
    }
}
  
.img-box{
    height: 120px;
    width: 150px;
    background-color: rgb(239, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 15px;
    border-radius: 10px;
} 

.tech-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    gap: 15px 0px;
} 
 
.tech-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 15px 0px;
}   

.img-box a img{
    width: 55px;
}